{% embed "@base/grids/_smart-grid.twig" with {
  rowItems: {
    medium: 3
  }
} %}
  {% block gridItems %}

    {% embed "@molecules/box-thumbnail.twig" with {
      title: "Block 1"
    } %}
    {% endembed %}

    {% embed "@molecules/box-thumbnail.twig" with {
      title: "Block 2"
    } %}

    {% endembed %}

    {% embed "@molecules/box-thumbnail.twig" with {
      title: "Block 3"
    } %}
    {% endembed %}

    <section class="tiles">
        {% embed "@molecules/box-thumbnail.twig" %}
        {% endembed %}
    </section>

  {% endblock %}
{% endembed %}
