<section class="tiles">
    {% for item in items %}
        {% include "@molecules/box-thumbnail.twig"
        with {
            image: item.image,
            style: item.style,
            title: item.title
        }
        %}
    {% endfor %}
</section>
