<article class="{{ style }}" >
  <span class="image">
    <img src="{{ image }}" alt="">
  </span>
  <a href="http://www.hampsterdance.com/classics/originaldance.htm">
    <h2>{{ title }}</h2>
    <div class="content">
        <h4>Bee-da-dee-dah-dee-dee-doh-doh</h4>
        <p>Throwback Everyday!</p>
    </div>
  </a>
</article>
