<article class= "style" . "{{style_num}}" >
  <span class="box-thumbnail__image">
    <img src= "{{img}}" alt="" />
  </span>
  <a href="http://www.hampsterdance.com/classics/originaldance.htm">
    <h2>Bee-da-dee-dah-dee-dee-doh-doh</h2>
    <div class="content">
      <p>Throwback Everyday!</p>
    </div>
  </a>


</article>
