<article class="box-thumbnail" >
  <span class="box-thumbnail__image-wrapper">
    <img class="box-thumbnail__image" src="{{ image }}" alt="">
  </span>
  <a href="http://www.hampsterdance.com/classics/originaldance.htm" target="_blank" class="box-thumbnail__link">
    <h2 class="box-thumbnail__title">{{ title }}</h2>
    <div class="box-thumbnail__content">
        Bee-da-dee-dah-dee-dee-doh-doh
        <br>
        Throwback Everyday!
    </div>
  </a>
</article>
