<section class="tiles">

<article class="{{ style }}" >
  <span class="image">
    <img src="{{ image }}" alt="">
  </span>
  <a href="http://www.hampsterdance.com/classics/originaldance.htm" target="_blank">
    <h2>{{ title }}</h2>
    <div class="content">
        Bee-da-dee-dah-dee-dee-doh-doh
        <br>
        Throwback Everyday!
    </div>
  </a>
</article>

</section>
